{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
<title>Загрузка файла</title>


<body style="background: #2c313a;">
<header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-secondary">Главная</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Профиль</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Дополнительно</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control form-control-dark" placeholder="Поиск" aria-label="Search">
        </form>

{#        <div class="text-end">#}
{#          <button type="button" class="btn btn-outline-light me-2">Вход</button>#}
{#          <button type="button" class="btn btn-warning">Регистрация</button>#}
{#        </div>#}
      </div>
    </div>
  </header>
<form action="" method="post">
    {{ form|crispy }}
</form>

</body>
