{% load static %}
<!DOCTYPE html>
<html lang="ru" style="background: black">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.7/mediaelement-and-player.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <meta charset="UTF-8">
    <title>Ваш профиль</title>
    <link href="{% static '/css/style_header.css' %}" rel="stylesheet">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.7/mediaelementplayer.min.css" rel="stylesheet"/>
    <link href="{% static 'css/style_player.css' %}" rel="stylesheet"/>
    <link rel="shortcut icon" type="image/png" href="{% static '/img/favicon.ico' %}"/>

</head>
<body style="background: black">

{# NavBar #}
<div class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="navbar-header">
                    <button class="navbar-toggle" data-target="#mobile_menu" data-toggle="collapse"><span
                            class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand" style="color: #fc3a00">WebMusic</a>
                </div>
                <div class="navbar-collapse collapse" id="mobile_menu">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Главная</a></li>
                        {% if isauth %}
                            <li><a href="/favorite/">Избранное</a></li>
                        {% endif %}
                        <li><a href="/about">О сайте</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if isauth %}
                            <li class="active"><a href="#">
                                <span class="glyphicon glyphicon-user"></span> {{ user }}
                            </a></li>
                        {% endif %}

                        {% if isauth %}
                            <li><a href="/logout" style="color:#fc3a00"><span class="glyphicon glyphicon-log-out "
                                                                              style="color:#fc3a00"></span> Выход</a>
                            </li>
                        {% else %}
                            <li><a href="/login" style="color:#fc3a00"><span class="glyphicon glyphicon-log-in"
                                                                             style="color:#fc3a00"></span> Вход</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="navbar navbar-inverse" style="width: fit-content; margin-left: auto; margin-right: auto">
    <div class="container-fluid" style="padding-left: 0; padding-right: 0">
        <div class="row">
            <div class="col-lg-12">
                <div class="navbar-collapse collapse" style="padding: 5px;" id="mobile_menu">
                    <ul class="nav navbar-nav navbar-center">
                        <li class="active" ><a style="border-radius: 15px" href="#">Ваши загруженные песни</a></li>
                        <li ><a href="{% url "add_music_page" %}">Загрузить песню</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{# NavBar #}
<div style="margin-left: 50px; display: grid; border: 2px white;">
    <div class="container">
        {% for item in songs %}
            <div class="music-player">
                <div class="rz">
                    {% if item in favorites %}
                        <a href="delfavorite/?id={{ item.id }}&page=main"><img src="{% static "img/unfavorite.png" %}"/></a>
                    {% else %}
                        <a href="addfavorite/?id={{ item.id }}&page=main"><img
                                src="{% static "img/favorite.png" %}"/></a>
                    {% endif %}
                </div>
                <div class="rzr"><a href="{% url "delete" %}?id={{ item.id }}&page=main"><img style="scale: 75%"
                                                                                              src="{% static "img/delete.png" %}"/></a>
                </div>
                <div class="cover">
                    <img alt="" src="{{ item.image.url }}"/>
                </div>

                <div class="titre">
                    <h3>{{ item.artist }}</h3>
                    <h1>{{ item.title }}</h1>
                </div>
                <div class="lecteur">
                    <audio class="fc-media" style="width: 100%;">
                        <source src="



                                {% if item.audio_file %}{{ item.audio_file.url }} {% else %} {{ item.audio_link }} {% endif %}"/>
                    </audio>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        var scrollpos = localStorage.getItem('scrollpos');
        if (scrollpos) window.scrollTo(0, scrollpos);
    });

    window.onbeforeunload = function (e) {
        localStorage.setItem('scrollpos', window.scrollY);
    };
</script>
</body>
